/* common css */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1;
    font-weight: 400;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer; /* ban tay */
}

input, textarea, button {
    outline: none;
    box-shadow: none;
    font-family: 'Lato', sans-serif;
}

:root {
    --primaryColor: #64c29e;
    --headingColor: #353738;
    --textColor: #848789;
    --textLine: #d7d7d7;
    --bgWhite: #fff;
    --bgLight: #f7f7f7;
}

.wrapper {
    max-width: 160rem;
    margin: 0 auto;
}

/*----------*/
.header {
    min-height: 80rem;
    background-image: url("../image/bg-header.png");
    background-repeat: no-repeat;
    background-size: cover; /* co gian bang header */
    background-position: center center; /* nam chinh giua */
    display: flex; /* header nam tren 1 dong */
    justify-content: center; /* can giua nav theo chuc x */
    align-items: flex-start; /* can len dau nav theo chuc y */
}

.nav {
    margin-top: 3.5rem;
}

.nav__list {
    display: flex;
    align-items: center; /* can li chinh giua ul */
}

.nav__item {
    padding-left: 4rem;
    padding-right: 4rem;
    position: relative;
}

.nav__item:first-child::after, .nav__item:nth-child(4)::after {
    content: '.';
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 2rem;
    color: var(--headingColor);
}

.nav__link {
    color: var(--headingColor);
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    display: block;
    position: relative;
}

/*----------*/
.about__us {
    min-height: 47rem;
    background-color: var(--bgLight);
    text-align: center;
    font-size: 1.8rem;
}

.about__us__icon {
    margin-top: 12rem;
}

.about__us__title {
    font-weight: 700;
    color: var(--headingColor);
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.about_us__text {
    color: var(--textColor);
    font-weight: 400;
    line-height: 1.8;
    margin-left: 26rem;
    margin-right: 26rem;
}

/*----------*/
.work__grid {
    display: grid;
    grid-template-rows: 60rem 60rem 60rem;
}

.img__center {
    margin: auto;
}

.bike__xx__02 {
    display: grid;
    grid-template-rows: 67% 33%;
    text-align: center;
}

.bike__xx__02__icon {
    margin-top: 7rem;
}

.bike__xx__02__title {
    font-weight: 700;
    color: var(--headingColor);
    font-size: 1.8rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.bike__xx__02__text {
    text-align: justify;
    font-weight: 400;
    color: var(--textColor);
    font-size: 1.6rem;
    line-height: 1.7;
    margin-left: 6rem;
    margin-right: 6rem;
}

.bike__xx__02__line {
    width: 5rem;
    border-top: 1px var(--textLine) solid;
    margin: 4rem auto;
}

.bike__xx__02__pointer {
    width: 2rem;
    height: 2rem;
    margin: auto;
    background-color: var(--bgWhite);
    transform: rotate(45deg);
}

.bike__xx__02__top__bg {
    width: 100%;
    height: 2rem;
    position: absolute;
    top: -1rem;
}

/*-----*/
.bike__01__grid {
    display: grid;
    grid-template-columns: 67% 33%;
}

.bike__01__01__bg {
    background-image: url("../image/bike-01-img-01.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.bike__01__02__bg {
    background-image: url("../image/bike-01-img-02.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/*-----*/
.bike__02__grid {
    display: grid;
    grid-template-columns: 33% 67%;
}

.bike__02__01__bg {
    background-image: url("../image/bike-02-img-01.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.bike__02__02__bg {
    background-image: url("../image/bike-02-img-02.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/*-----*/
.bike__03__grid {
    display: grid;
    grid-template-columns: 33% 34% 33%;
}

.bike__03__01__bg {
    background-image: url("../image/bike-03-img-01.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.bike__03__03__bg {
    background-image: url("../image/bike-03-img-03.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.bike__03__02__bg {
    background-image: url("../image/bike-03-img-02.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/*----------*/
.twitter {
    height: 23.5rem;
    background-color: var(--bgLight);
}





